/*
#524180
font-family: 'Roboto', sans-serif;
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

body {
    min-height: 100vh;
}

.fixed {
    position: fixed;
    height: 100%;
}



/* width --- 320 - 360 - 411 - 768 - 1024 - 1440 - 1920 */