/*
#524180
font-family: 'Roboto', sans-serif;
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

div.wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    padding: 20px;
}

.wrap img {
    width: 100%;
    margin-bottom: 30px;
}

.wrap form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 170px;
    width: 220px;
}

.wrap form input {
    padding: 10px;
    font-size: 16px;
}

.wrap form button {
    padding: 10px;
    border: 0px;
    border-radius: 20px;
    background-color: #524180;
    color: #eee;
    font-size: 18px;
}

.wrap form button:active {
    background-color: #7359bb;
}

.wrap p {
    align-self: end;
    margin-top: 25px;
    font-size: 16px;
}

.wrap a {
    text-decoration: none;
    align-self: end;
    margin-top: 10px;
    font-size: 18px;
    color: #524180;
}

@media screen and (min-width: 360px) {
    div.wrap {
        width: 330px;
        padding: 20px;
    }
}

@media screen and (min-width: 411px) {

    div.wrap {
        width: 350px;
        padding: 30px;
    }

    .wrap form {
        min-height: 180px;
        width: 240px;
    }

    .wrap form input {
        padding: 10px;
        font-size: 18px;
    }

    .wrap form button {
        font-size: 20px;
    }

    .wrap p {
        font-size: 18px;
    }

    .wrap a {
        font-size: 20px;
    }
}

@media screen and (min-width: 768px) {

    div.wrap {
        width: 440px;
        padding: 40px;
    }

    .wrap form {
        min-height: 160px;
        width: 300px;
    }

    .wrap form input {
        padding: 10px;
        font-size: 20px;
    }

    .wrap form button {
        font-size: 20px;
        padding: 12px;
    }

    .wrap p {
        font-size: 20px;
    }

    .wrap a {
        font-size: 22px;
    }
}

@media screen and (min-width: 1025px) {
    div.wrap {
        width: 460px;
    }

    .wrap form button {
        transition: .3s;
    }
}

@media screen and (min-width: 1440px) {
    div.wrap {
        margin-top: 100px;
        width: 500px;
    }

    .wrap p {
        padding-right: 50px;
    }

    .wrap a {
        padding-right: 50px;
    }
}

/* width --- 320 - 360 - 411 - 768 - 1024 - 1440 - 1920 */